.card {
  height: 200px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 50px;
}
.card-icon-bg {
  position: absolute;
  display: inline-flex;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  bottom: 80%;
  left: 43%;
}
.card-icon-bg {
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
