.hero {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.hero-content {
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 400px;
  padding: 35px;
}
.big-heading {
  font-weight: 700;
}
.hero-paragraph {
  margin-bottom: 16px;
}
.hero-button {
  padding: 8px 16px;
  font-size: 20px;
}
